params {
	outdir = "./results"
    queues = [
        "zeus": "all.q@zeus",
        "apollo-new": "long.q@apollo-0[1-9]",
        "apollo-old": 'all.q@apollo-1[1-4]'
        // "gpu" : "all.q@apollo-15"
    ]
}

process {
    withName: "SCVI" {
        publishDir = "results/scvi"
    }
    withName: "NEIGHBORS" {
        publishDir = "results/neighbors"
    }
}


conda.useMamba = true
conda.createTimeout = '120 min'

singularity.enabled = true
singularity.autoMounts = true
process.containerOptions = "--no-home"
